<template>
  <div class="fixed-center text-center">
    <p class="stage">
      <img src="~assets/sad.svg" class="smiley">
    </p>
    <h4 class="text-faded">{{ $t('layout.notFound') }}</h4>
    <p><strong>Client Error Code 404</strong><br />
    while accessing client route {{ location }}
    </p>
    <q-btn rounded
      color="primary glossy"
      style="width:200px;"
      to="/"
      :label="$t('layout.nav.goBack')"
    />
  </div>
</template>

<script>
export default {
  name: 'Error404',

  data () {
    return {
      location: location.hash.substring(1)
    }
  }
}
</script>

<style lang="scss">
.stage {
  animation: 3s ease-out slide;
}
.smiley {
  width:60%;
  animation: 2.5s jump, 1.5s showup;
}
@keyframes jump {
    0% { transform: translateY(50px) scale(0.2, 0.2); animation-timing-function: ease-out}
    25% { transform: translateY(-150px) scale(0.4, 0.4); animation-timing-function: ease-in}
    50% { transform: translateY(30px) scale(0.6, 0.6); animation-timing-function: ease-out}
    52% { transform: translateY(40px) scale(0.7, 0.5); animation-timing-function: ease-in}
    54% { transform: translateY(30px) scale(0.6, 0.6); animation-timing-function: ease-out}
    75% { transform: translateY(-100px) scale(0.8, 0.8); animation-timing-function: ease-in}
    90% { transform: translateY(0px) scale(1, 1); animation-timing-function: ease-out}
    95% { transform: translateY(20px) scale(1.15, 0.85); animation-timing-function: ease-in }
    100% { transform: translateY(0px) scale(1, 1) }
}
@keyframes slide {
    0% { transform: translateX(200px) }
    74% { transform: rotate(0deg) }
    76% { transform: rotate(26deg) }
    78% { transform: rotate(-24deg) }
    80% { transform: rotate(22deg) }
    82% { transform: rotate(-20deg) }
    84% { transform: rotate(16deg) }
    86% { transform: rotate(-14deg) }
    88% { transform: rotate(12deg) }
    90% { transform: rotate(-10deg) }
    92% { transform: rotate(8deg) }
    94% { transform: rotate(-6deg) }
    96% { transform: rotate(4deg) }
    98% { transform: rotate(-2deg) }
    100% { transform: translateX(0px) rotate(0deg) }
}
@keyframes showup {
    0% { opacity: 0 }
    50% { opacity: 1 }
}
</style>
