<template>
  <q-page padding class="dashboard">
    <div class="box row title">
      <div class="page" padding>
        <img class="light"
          src="~assets/logo.png"
          alt="GUI Logo"
        />
        <img class="dark"
          src="~assets/logo-black.png"
          alt="GUI Logo"
        />
        <h1 class="center-text">{{ $t('layout.subtitle')}}</h1>
      </div>
    </div>
    <div class="copyright"><p>
        <a :href="homepage || '#'" target="_blank">{{ title }} V {{ version }}</a>
        <span v-if="xtitle && xtitle !== title">
        - <a :href="xhomepage || '#'" target="_blank">Powered by {{ xtitle }} V {{ xversion }}</a>
        </span>
    </p></div>

    <div class="icons row">
      <!--
      <q-btn flat round wait-for-ripple :to="'/login'" icon="mdi-shield-key" class="warning" v-if="!authUser">
        <q-tooltip anchor="bottom middle" self="top middle" :delay="500" class="q-mt-sm">
          <b>{{ $t('layout.menu.login') }}</b><br>
          {{ $t('layout.menu.login') }}
        </q-tooltip>
      </q-btn>
      -->
      <ax-index-icon
          v-for="link in links"
          :key="link.title"
          v-bind="link"
      />
    </div>

    <ax-index-extend />

  </q-page>
</template>

<script>
import { title, name, version, homepage } from '../../package.json'
import { title as xtitle, name as xname, version as xversion, homepage as xhomepage } from '../../extended.json'
import coreMenu from 'assets/data/core-menu'

import axIndexIcon from 'components/index-icon'
import axIndexExtend from 'components/index-extend'

export default {
  name: 'PageIndex',

  components: {
    axIndexIcon,
    axIndexExtend
  },

  data () {
    return {
      title: title || name,
      version: version,
      homepage: homepage,
      xtitle: xtitle || xname,
      xversion: xversion,
      xhomepage: xhomepage
    }
  },

  computed: {
    authUser () {
      return this.$store.state.auth.user
    },
    links () {
      return coreMenu(this)
    }
  }
}
</script>

<style lang="scss" scoped>
main {
  background: url("~assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.box {
  display: table;
  padding: 50px;
  margin: 0 auto;
  border-radius: 40px;
  opacity: 0.8;
  text-align: center;
  border: 3px solid #aaa;
  background: $lighter;
  .body--dark & {
    border: 3px solid #333;
    background: #000;
  }
  &.title {
    margin-bottom: 40px;
    max-width: 90%;
    h1 { line-height: 2rem }
  }
}

h1 {
  margin: 0;
  color: $accent;
  font-size: 26px;
  font-weight: 900;
}

div.copyright {
    position: absolute;
    bottom: 0px;
    a {
        color: white;
        text-shadow: 2px 2px black;
        text-decoration: none;
    }
}

</style>

<style lang="scss">
.dashboard {
  .icons {
    justify-content: center;
    .q-btn {
      background: $lighter;
      .body--dark & { background: $darker }
      opacity: 0.6;
      font-size: 32px;
      margin: 10px;
      &.warning {
        color: white;
        background: #f0ad4e;
        opacity: 0.8;
      }
    }
  }
}
</style>
