<template>
  <q-page padding>

    <q-breadcrumbs class="q-mb-lg">
      <q-breadcrumbs-el :label="$t('layout.home.title')" :title="$t('layout.home.subtitle')" icon="home" to="/"/>
      <q-breadcrumbs-el :label="$t(`${$route.meta.module}.title`)"  :title="$t(`${$route.meta.module}.subtitle`)" icon="info"/>
    </q-breadcrumbs>

    <q-splitter :value="100" unit="px" :limits="[100, 100]" class="defaultCursor">

      <template v-slot:before>
        <q-tabs
          v-model="tab"
          vertical
          active-color="primary"
        >
          <q-tab name="client" icon="mdi-monitor" label="Client" />
          <q-tab name="user" icon="mdi-account" label="User" />
          <q-tab name="server" icon="mdi-apps" label="Server" />
          <q-tab name="host" icon="mdi-server" label="Host" />
          <q-tab name="store" icon="mdi-database" label="Store" />
          <q-tab name="text" icon="mdi-format-title" label="Format" />
        </q-tabs>
      </template>

      <template v-slot:after>
        <q-tab-panels
          v-model="tab"
          swipeable
          vertical
          animated
        >
          <q-tab-panel name="client">
            <div class="text-h4">Client</div>
            <q-markup-table dense>
                <thead>
                    <tr><th colspan="2" class="text-left">Container Software</th></tr>
                </thead>
                <tbody>
                    <tr><td>Type</td><td>{{ type }}</td></tr>
                    <tr><td>Name</td><td>{{ $q.platform.is.name }}</td></tr>
                    <tr><td>Version</td><td>{{ $q.platform.is.version }}</td></tr>
                    <tr><td>Platform</td><td>{{ $q.platform.is.platform }}</td></tr>
                    <tr><td>Touch</td><td>{{ $q.platform.has.touch }}</td></tr>
                </tbody>
                <thead>
                    <tr><th colspan="2" class="text-left">Application</th></tr>
                </thead>
                <tbody>
                    <tr><td>{{ pack.name }}</td><td>V {{ pack.version }} build {{ pack.build }}</td></tr>
                    <tr v-if="extended.name != pack.name"><td>{{ extended.name }}</td><td>V {{ extended.version }}</td></tr>
                    <tr><td>Quasar</td><td>V {{ $q.version }}</td></tr>
                </tbody>
            </q-markup-table>
          </q-tab-panel>

          <q-tab-panel name="user">
            <div class="text-h4">User</div>
            <q-markup-table dense v-if="user">
                <thead>
                    <tr><th colspan="2" class="text-left">User</th></tr>
                </thead>
                <tbody>
                    <tr><td>ID</td><td>{{ user._id }}</td></tr>
                    <tr><td>Email</td><td>{{ user.email }}</td></tr>
                    <tr><td>Nickname</td><td>{{ user.nickname }}</td></tr>
                    <tr><td>Name</td><td>{{ user.name }}</td></tr>
                    <tr><td>Position</td><td>{{ user.position }}</td></tr>
                </tbody>
              <template v-for="role in user.roles">
                <thead :key="role._id+'_head'">
                    <tr><th colspan="2" class="text-left">Role {{ role.name }}</th></tr>
                </thead>
                <tbody :key="role._id+'_body'">
                    <tr><td>ID</td><td>{{ role._id }}</td></tr>
                    <tr><td>Description</td><td>{{ role.description }}</td></tr>
                    <tr><td>Disabled</td><td>{{ role.disabled ? true : false }}</td></tr>
                    <tr v-for="ability in role.abilities" :key="ability.action+ability.subject+ability.conditions"
                      :class="role.disabled && 'disabled light-dimmed'">
                        <td>{{ ability.inverted ? 'Disallow' : 'Allow' }}</td>
                        <td>{{ ability.action.map(e => e[0].toUpperCase() + e.substring(1)).join(', ') }}
                          on {{ ability.subject.map(e => e.replace(/\//g, ' ').replace(/(^|\s)\S/g, l => l.toUpperCase())).join(', ') }}
                            <span v-if="ability.fields && ability.fields.length"><br/>in fields: {{ ability.fields.join(', ') }}</span>
                            <span v-if="ability.conditions"><br/>with {{ Object.keys(ability.conditions).map(key => `${key}: ${ability.conditions[key]}`).join(', ') }}</span>
                            <span v-if="ability.reason"><br/>⮕  {{ ability.reason }}</span>
                        </td>
                    </tr>
                </tbody>
              </template>
                <thead>
                    <tr><th colspan="2" class="text-left">User Abilities</th></tr>
                </thead>
                <tbody>
                    <tr v-for="ability in user.abilities" :key="ability.action+ability.subject+ability.conditions">
                        <td>{{ ability.inverted ? 'Disallow' : 'Allow' }}</td>
                        <td>{{ ability.action.join(', ') }} on {{ ability.subject.join(', ') }}
                            <span v-if="ability.fields && ability.fields.length"><br/>in fields: {{ ability.fields.join(', ') }}</span>
                            <span v-if="ability.conditions"><br/>with {{ Object.keys(ability.conditions).map(key => `${key}: ${ability.conditions[key]}`).join(', ') }}</span>
                            <span v-if="ability.reason"><br/>⮕  {{ ability.reason }}</span>
                        </td>
                    </tr>
                </tbody>
            </q-markup-table>
            <template v-else>
                <p><strong>Unauthorized!</strong></p>
                <p>You are not logged in at the moment. So you are treated as a guest and have limited privilegs.</p>
            </template>
          </q-tab-panel>

          <q-tab-panel name="server">
            <div class="text-h4">Server</div>
            <q-markup-table dense v-if="serverData.server">
                <thead>
                    <tr><th colspan="2" class="text-left">Server</th></tr>
                </thead>
                <tbody>
                    <tr v-for="(value, key) in serverData.server" :key="`server.${key}`"><td>{{ key }}</td><td>{{ value }}</td></tr>
                </tbody>
                <thead>
                    <tr><th colspan="2" class="text-left">User</th></tr>
                </thead>
                <tbody>
                    <tr v-for="(value, key) in serverData.user" :key="`user.${key}`"><td>{{ key }}</td><td>{{ value }}</td></tr>
                </tbody>
                <thead>
                    <tr><th colspan="2" class="text-left">Node JS</th></tr>
                </thead>
                <tbody>
                    <tr v-for="(value, key) in serverData.node" :key="`node.${key}`"><td>{{ key }}</td><td>{{ value }}</td></tr>
                </tbody>
            </q-markup-table>
            <p v-else>No information retrieved from server at <a :href="api">{{ api }}</a></p>
          </q-tab-panel>

          <q-tab-panel name="host">
            <div class="text-h4">Host</div>
            <q-markup-table dense v-if="serverData.host">
                <thead>
                    <tr><th colspan="2" class="text-left">Hardware</th></tr>
                </thead>
                <tbody>
                    <tr v-for="(value, key) in serverData.host" :key="`host.${key}`"><td>{{ key }}</td><td>{{ value }}</td></tr>
                </tbody>
                <thead>
                    <tr><th colspan="2" class="text-left">Operating System</th></tr>
                </thead>
                <tbody>
                    <tr v-for="(value, key) in serverData.os" :key="`os.${key}`"><td>{{ key }}</td><td>{{ value }}</td></tr>
                </tbody>
            </q-markup-table>
            <p v-else>No information retrieved from server at <a :href="api">{{ api }}</a></p>
          </q-tab-panel>

          <q-tab-panel name="store">
            <div class="text-h4">Store</div>
            <q-markup-table dense v-if="serverData.database">
                <thead>
                    <tr><th colspan="2" class="text-left">Database</th></tr>
                </thead>
                <tbody>
                    <tr v-for="(value, key) in serverData.database" :key="`database.${key}`"><td>{{ key }}</td><td>{{ value }}</td></tr>
                </tbody>
            </q-markup-table>
            <p v-else>No information retrieved from server at <a :href="api">{{ api }}</a></p>
          </q-tab-panel>

          <q-tab-panel name="text">
            <div class="text-h4">Text Format</div>
            <p>The following elemts displays the different text formats which are used:</p>
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
          </q-tab-panel>
        </q-tab-panels>
      </template>

    </q-splitter>
  </q-page>
</template>

<script>
import pack from '../../package.json'
import extended from '../../extended.json'

export default {
  name: 'PageInfo',

  data () {
    const is = this.$q.platform.is
    return {
      tab: 'client',
      type: is.desktop ? 'Desktop Browser' : is.electron ? 'Desktop Application' : is.mobile ? 'Mobile' : 'Unknown',
      pack,
      extended,
      serverData: {},
      api: process.env.API
    }
  },

  computed: {
    user () {
      return this.$store.state.auth.user
    }
  },

  async created () {
    try {
      const { Info } = this.$FeathersVuex.api
      const data = await Info.find()
      data.forEach(e => {
        if (!this.serverData[e.group]) this.serverData[e.group] = {}
        this.serverData[e.group][e.name] = e.value
      })
    } catch (e) {
      console.error(e)
      this.$q.notify({
        type: 'negative',
        message: e.type === 'FeathersError' ? this.$t('layout.noConnection') : this.$t('layout.failed'),
        caption: e.message
      })
    }
  }
}
</script>

<style lang="scss" scoped>
td { padding-top: 3px; padding-bottom: 3px }
</style>
