<template>
  <ax-dialog :model.sync="localModel"
    :title="$t('about.title', {title: title})"
    icon="info"
  >
    <q-card-section class="q-pt-none">
      <p><strong>Version {{ version }} ({{ build }})</strong>
      <span v-if="license"> - {{ $t('about.license', { license }) }}</span></p>
      <p v-html="$t('about.description').replace(/\n/g, '<br />')"></p>
      <p v-if="homepage">{{ $t('about.more') }} <a :href="homepage">{{ homepage }}</a></p>
      <p>{{ $t('about.author') }}: {{ author.name || author }}</p>
      <p v-if="extended">
          <b>{{ $t('about.base', { title: extended.title, version: extended.version}) }}
           - {{ $t('about.license', { license: extended.license }) }}</b><br />
          {{ $t('about.more') }} <a :href="extended.homepage">{{ extended.homepage }}</a><br />
          {{ $t('about.author') }}: {{ extended.author.name || extended.author }}
      </p>

      <h5>{{ $t('about.imprint.title') }}</h5>
      <p>{{ $t('about.imprint.responsible') }}</p>
      <blockquote v-html="address"></blockquote>

      <h5>{{ $t('about.privacy.title') }}</h5>
      <p>{{ $t('about.privacy.intro') }}</p>

      <h5>{{ $t('about.data.title') }}</h5>
      <p>{{ $t('about.data.intro') }}</p>
      <ul>
        <li v-for="(line, index) in $t('about.data.list').split(/\n/)" :key="`data-${index}`">{{ line }}</li>
      </ul>
      <div v-if="foreignData">
        <p>{{ $t('about.data.foreign') }}</p>
        <ul>
          <li v-for="(line, index) in foreignData.split(/\n/)" :key="`foreigndata-${index}`">{{ line }}</li>
        </ul>
      </div>

      <h5>{{ $t('about.purpose.title') }}</h5>
      <ul>
        <li v-for="(line, index) in $t('about.purpose.list').split(/\n/)" :key="`purpose-${index}`">{{ line }}</li>
      </ul>

      <h5>{{ $t('about.persons.title') }}</h5>
      <ul>
        <li v-for="(line, index) in $t('about.persons.list').split(/\n/)" :key="`persons-${index}`">{{ line }}</li>
      </ul>

      <h5>{{ $t('about.terms.title') }}</h5>
      <p v-for="(line, index) in $t('about.terms.list').split(/\n/)" :key="`terms-${index}`">{{ line }}</p>

      <h5>{{ $t('about.legal.title') }}</h5>
      <p>{{ $t('about.legal.text') }}</p>

      <h5>{{ $t('about.update.title') }}</h5>
      <p>{{ $t('about.update.text') }}</p>

      <h5>{{ $t('about.thirdparty.title') }}</h5>
      <p v-for="(line, index) in $t('about.thirdparty.list').split(/\n/)" :key="`thirdparty-${index}`">{{ line }}</p>

      <h5>{{ $t('about.rights.title') }}</h5>
      <p v-for="(line, index) in $t('about.rights.list').split(/\n/)" :key="`rights-${index}`">{{ line }}</p>

      <h5>{{ $t('about.cookies.title') }}</h5>
      <p v-for="(line, index) in $t('about.cookies.list').split(/\n/)" :key="`cookies-${index}`">{{ line }}</p>

      <h5>{{ $t('about.hosting.title') }}</h5>
      <p v-for="(line, index) in $t('about.hosting.list').split(/\n/)" :key="`hosting-${index}`">{{ line }}</p>

      <h5>{{ $t('about.register.title') }}</h5>
      <p v-for="(line, index) in $t('about.register.list').split(/\n/)" :key="`register-${index}`">{{ line }}</p>

      <h5>{{ $t('about.contact.title') }}</h5>
      <p>{{ $t('about.contact.text') }}</p>

      <h5>{{ $t('about.gravatar.title') }}</h5>
      <p v-for="(line, index) in $t('about.gravatar.list').split(/\n/)" :key="`gravatar-${index}`">{{ line }}</p>

      <h5>{{ $t('about.delete.title') }}</h5>
      <p>{{ $t('about.delete.text') }}</p>

      <h5>{{ $t('about.logs.title') }}</h5>
      <p v-for="(line, index) in $t('about.logs.list').split(/\n/)" :key="`logs-${index}`">{{ line }}</p>
    </q-card-section>
  </ax-dialog>
</template>

<script>
import pack from '../../package.json'
import extended from '../../extended.json'

import axDialog from 'components/dialog'

export default {
  name: 'aboutDialog',

  props: {
    model: {
      type: Boolean,
      required: true
    }
  },

  components: {
    axDialog
  },

  data () {
    return {
      title: pack.title,
      version: pack.version,
      build: pack.build,
      author: pack.author,
      address: (pack.responsible || 'Schilling, Alexander\nMühlstraße 13\nD-72805 Lichtenstein').replace(/\n/g, '<br />'),
      license: pack.license,
      homepage: pack.homepage,
      foreignData: pack.foreignData,
      extended: extended.name !== pack.name ? extended : false
    }
  },

  computed: {
    localModel: {
      get () { return this.model },
      set (localModel) { this.$emit('update:model', localModel) }
    }
  }

}
</script>
