<template>
  <q-dialog v-model="localModel">
    <q-card class="ax-dialog">
      <q-card-section class="text-h5 bg-primary glossy text-white q-pa-sm">
        <div class="row items-center no-wrap">
          <div class="col">
            <q-icon left :name="icon" size="md" class="vertical-bottom" />
            {{ title }}
          </div>
          <div class="col-auto">
            <q-btn
              flat round icon="close"
              :title="$t('layout.nav.close')"
              v-close-popup
            />
          </div>
        </div>
      </q-card-section>
      <slot />
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: 'alinexDialog',

  props: {
    model: { type: Boolean, required: true },
    title: { type: String, required: true },
    icon: { type: String, default: 'info' }
  },

  data () {
    return {
    }
  },

  computed: {
    localModel: {
      get () { return this.model },
      set (localModel) { this.$emit('update:model', localModel) }
    }
  }
}
</script>

<style lang="scss">
div.ax-dialog {
  border-radius: 10px;
  .q-card__section {
    max-height: calc(90vh - 100px);
    overflow-y: auto;
  }
}
</style>
