<template>
  <q-btn v-if="!service || $can('read', service)"
    flat round wait-for-ripple :to="link" :icon="icon">
    <q-tooltip anchor="bottom middle" self="top middle" :delay="500" class="q-mt-sm">
      <b>{{ title }}</b><br />
      {{ caption }}
    </q-tooltip>
  </q-btn>
</template>

<script>
export default {
  name: 'IndexIcon',

  props: {
    title: { type: String, required: true },
    caption: { type: String, default: '' },
    icon: { type: String, default: '' },
    link: { type: String, default: '#' },
    service: { type: String }
  }
}
</script>

<style lang="scss" scoped>
.icons {
  justify-content: center;
  .q-btn {
    background: #eee;
    opacity: 0.6;
    font-size: 32px;
    margin: 10px;
    &.warning {
      color: white;
      background: #f0ad4e;
      opacity: 0.8;
    }
  }
}
</style>
