<template>
  <ax-dialog :model.sync="localModel"
    :title="$t('layout.login.title')"
    icon="mdi-shield-key">
        <q-card-section class="q-pt-none">
          <q-form>
            <q-input
                v-model="loginData.email"
                :label="$t('layout.login.email')"
                type="email"
                autocomplete="username"
                :placeholder="demo ? 'demo@alinex.de' : 'myname@gmail.com'"
                autofocus
                :rules="[val => !!val || $t('layout.login.emailError')]"
            >
                <template v-slot:prepend>
                    <q-icon name="email" />
                </template>
            </q-input>
            <q-input
                v-model="loginData.password"
                :label="$t('layout.login.password')"
                :type="showPassword ? 'text' : 'password'"
                autocomplete="current-password"
                :placeholder="demo ? 'demo123' : ''"
                :rules="[val => !!val || $t('layout.login.passwordError')]"
                @keyup.enter="login">
                <template v-slot:prepend>
                    <q-icon name="vpn_key" />
                </template>
                <template v-slot:append>
                    <q-icon
                        :name="showPassword ? 'visibility' : 'visibility_off'"
                        class="cursor-pointer"
                        @click="showPassword = !showPassword"
                    />
                </template>
            </q-input>
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="q-pa-md">
            <q-btn class="q-pr-sm"
                glossy rounded
                :label="$t('layout.login.submit')"
                icon="done"
                color="primary"
                @click="login"
            />
            <q-btn class="q-pr-sm"
                glossy rounded
                :label="$t('layout.nav.cancel')"
                icon="close"
                v-close-popup
            />
        </q-card-actions>
    </ax-dialog>
</template>

<script>
import pack from '../../package.json'
// import { unpackRules } from '@casl/ability/extra';

import axDialog from 'components/dialog'

export default {
  name: 'LoginDialog',

  props: {
    model: {
      type: Boolean,
      required: true
    }
  },

  components: {
    axDialog
  },

  data () {
    return {
      showPassword: false,
      loginData: {
        strategy: 'local',
        email: '',
        password: null
      },
      demo: pack.name === '@alinex/gui'
    }
  },

  computed: {
    localModel: {
      get () { return this.model },
      set (localModel) { this.$emit('update:model', localModel) }
    }
  },

  methods: {
    login () {
      this.$q.loading.show()
      this.$store.dispatch('auth/authenticate', this.loginData)
        .then(() => {
          this.localModel = false // close dialog
          // result
          const message = this.$t('layout.login.success')
          console.log(message)
          this.$q.notify({
            type: 'positive',
            message
          })
          this.$ability.update(this.$store.state.auth.user.abilities)
          // this.$ability.update(unpackRules(this.$store.state.auth.user.abilities))
          this.$q.loading.hide()
          // go back after login on login page or show success
          if (window.history.length && this.$route.path === '/login') { window.history.back() }
        })
        .catch((e) => {
          console.error(e)
          this.$q.notify({
            type: 'negative',
            message: this.$t('layout.login.fail'),
            caption: this.$store.state.auth.errorOnAuthenticate?.message +
            '<br/>API ' + process.env.API,
            html: true
          })
          this.$q.loading.hide()
        })
    }
  }
}
</script>
