<template>
  <q-item v-if="!service || $can('read', service)"
    clickable :to="link">
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>
        {{ caption }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'SidebarLink',
  props: {
    title: { type: String, required: true },
    caption: { type: String, default: '' },
    icon: { type: String, default: '' },
    link: { type: String, default: '#' },
    service: { type: String }
  }
}
</script>
