<template>
  <q-page padding>

    <q-breadcrumbs class="q-mb-lg">
      <q-breadcrumbs-el :label="$t('layout.home.title')" :title="$t('layout.home.subtitle')" icon="home" to="/"/>
      <q-breadcrumbs-el :label="$t(`${$route.meta.module}.title`)"  :title="$t(`${$route.meta.module}.subtitle`)" icon="mdi-account-group" to="/Roles"/>
      <q-breadcrumbs-el :label="$t('core.roles.detail')" icon="edit"/>
    </q-breadcrumbs>

    <FeathersVuexFormWrapper :item="item" watch>
      <template v-slot="{ clone, save, reset, remove }">
        <q-form @submit.prevent="saveResponse(save())">
          <!--<pre>{{item}}</pre><pre>{{clone}}</pre>-->
          <ax-form-group :title="$t('core.roles.formMeta')" :subtitle="$t('core.roles.formMetaDesc')">

            <q-input v-model="clone.name" ref="name"
                type="text"
                :label="$t('core.roles.name.title')"
                :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('roles', item), 'name')">
                <template v-slot:prepend><q-icon name="mdi-tag" /></template>
            </q-input>

            <q-input v-model="clone.description" ref="description"
                type="text"
                :label="$t('core.roles.description.title')"
                :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('roles', item), 'description')">
                <template v-slot:prepend><q-icon name="mdi-text" /></template>
            </q-input>

            <q-field
              stack-label>
              <q-checkbox v-model="clone.disabled" ref="disabled"
                :label="$t('core.roles.disabled.title')"
                :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('roles', item), 'disabled')" />
              <template v-slot:prepend><q-icon name="mdi-cancel" /></template>
            </q-field>

          </ax-form-group>
          <ax-form-group :title="$t('core.roles.formRights')" :subtitle="$t('core.roles.formRightsDesc')">
            <q-tooltip anchor="center middle" self="center middle" content-class="bg-red"
              v-if="clone.disabled">
              {{$t('layout.disabled')}}
            </q-tooltip>

            <q-table
              dense
              hide-bottom
              :data="clone.abilities"
              :columns="abilityColumns"
              :no-data-label="$t('layout.noData')">
              <template v-slot:body="props">
                <q-tr :props="props" class="cursor-pointer"
                  @click="if ($can(item._id === 'new' ? 'create' : 'update', subject('roles', item), 'name')) editAbility(props.row)">
                  <q-td key="inverted" :props="props">
                    {{ props.row.inverted ? 'Disallow' : 'Allow' }}
                  </q-td>
                  <q-td key="action" :props="props">
                    {{ props.row.action.map(e => e[0].toUpperCase() + e.substring(1)).join(', ') }}
                  </q-td>
                  <q-td key="subject" :props="props">
                    {{ props.row.subject.map(e => e.replace(/\//g, ' ').replace(/(^|\s)\S/g, l => l.toUpperCase())).join(', ') }}
                  </q-td>
                  <td key="conditions" :props="props">
                    <template v-for="el in Object.keys(props.row.conditions || {})">
                      {{ el }}: {{ props.row.conditions[el] }}
                      <br :key="el">
                    </template>
                  </td>
                  <td key="fields" :props="props">
                    {{ props.row.fields ? props.row.fields.join(', ') : '' }}
                  </td>
                </q-tr>
              </template>
            </q-table>

            <div style="text-align: right" v-if="$can(item._id === 'new' ? 'create' : 'update', subject('roles', item), 'name')">
              <q-btn
                class="text-black q-mt-sm"
                color="neutral"
                icon="add"
                glossy rounded
                :label="$t('layout.nav.add')"
                @click="editAbility()"
              />
            </div>

          </ax-form-group>
          <ax-form-group :title="$t('core.roles.formUsers')" :subtitle="$t('core.roles.formUsersDesc')">

            <q-table
              dense
              hide-bottom
              :data="users"
              :columns="userColumns"
              :no-data-label="$t('layout.noData')">
              <template v-slot:body="props">
                <q-tr :props="props" :class="props.row.disabled ? 'disabled light-dimmed' : 'cursor-pointer'"
                  @click.native="$router.push({ path: `/users/${props.row._id}` })">
                  <q-tooltip content-class="bg-red"
                    v-if="props.row.disabled">
                    {{$t('layout.disabled')}}
                  </q-tooltip>
                  <q-td key="email" :props="props">
                    {{ props.row.email }}
                  </q-td>
                  <q-td key="nickname" :props="props">
                    {{ props.row.nickname }}
                  </q-td>
                  <q-td key="name" :props="props">
                    {{ props.row.name }}
                  </q-td>
                  <q-td key="position" :props="props">
                    {{ props.row.position }}
                  </q-td>
                  <q-td key="disabled" :props="props">
                      {{ props.row.disabled ? $t('core.users.disabled.title') : '' }}
                  </q-td>
                </q-tr>
              </template>
            </q-table>

          </ax-form-group>

          <div align="right">
            <q-btn class="q-pr-sm q-ml-sm"
                type="submit"
                glossy rounded
                :label="$t('layout.nav.save')"
                icon="done"
                color="primary"
            />
            <q-btn class="q-pr-sm q-ml-sm"
                glossy rounded
                :label="$t('layout.nav.cancel')"
                icon="close"
                @click="reset(); $router.go(-1)"
            />
            <q-btn class="q-pr-sm q-ml-sm"
                glossy rounded
                :label="$t('layout.nav.delete')"
                color="secondary"
                icon="close"
                @click="remove(); $router.go(-1)"
            />
          </div>

        </q-form>

      </template>
    </FeathersVuexFormWrapper>

  <ax-dialog :model.sync="showAbility"
    :title="$t('core.roles.formRights')"
    icon="mdi-shield-key">
        <q-card-section class="q-pt-none">

          <p>How to define rights is explained in the <a href="https://alinex.gitlab.io/node-gui/usage/auth/" target="_blank">user manuel</a>.</p>

          <q-select v-model="ability.inverted" ref="name"
              type="text"
              :options="abilityInverted"
              emit-value map-options
              :label="$t('core.roles.inverted.title')">
              <template v-slot:prepend><q-icon name="iso" /></template>
          </q-select>
          <q-select v-model="ability.action" ref="name"
              type="text"
              :options="abilityAction"
              emit-value map-options multiple use-chips
              :label="$t('core.roles.action.title')">
              <template v-slot:prepend><q-icon name="build" /></template>
          </q-select>
          <q-select v-model="ability.subject" ref="name"
              type="text"
              :options="abilitySubject"
              emit-value map-options multiple use-chips
              @filter="abilitySubjectFilter" use-input
              :label="$t('core.roles.subject.title')">
              <template v-slot:prepend><q-icon name="dns" /></template>
          </q-select>
          <q-input v-model="ability.conditions" ref="conditions"
              type="text"
              :label="$t('core.roles.conditions.title')">
              <template v-slot:prepend><q-icon name="check_circle" /></template>
          </q-input>
          <q-select v-model="ability.fields" ref="fields"
              autogrow use-chips use-input
              multiple
              hide-dropdown-icon
              input-debounce="0"
              new-value-mode="add-unique"
              :label="$t('core.roles.fields.title')">
              <template v-slot:prepend><q-icon name="extension" /></template>
          </q-select>

        </q-card-section>

        <q-card-actions align="right" class="q-pa-md">
            <q-btn class="q-pr-sm"
                v-if="$can(item._id === 'new' ? 'create' : 'update', subject('roles', item))"
                glossy rounded
                :label="$t(`layout.nav.${ability._old ? 'update' : 'set'}`)"
                :icon="ability._old ? 'done' : 'add'"
                color="primary"
                @click="updateAbility"
            />
            <q-btn class="q-pr-sm"
                glossy rounded
                :label="$t('layout.nav.cancel')"
                icon="close"
                v-close-popup
            />
            <q-btn class="q-pr-sm q-ml-sm"
                v-if="$can(item._id === 'new' ? 'create' : 'delete', subject('roles', item))"
                glossy rounded
                :label="$t('layout.nav.delete')"
                color="secondary"
                icon="close"
                @click="removeAbility"
            />
        </q-card-actions>
    </ax-dialog>

  </q-page>
</template>

<script>
import { FeathersVuexFormWrapper } from 'feathers-vuex'
import { subject } from '@casl/ability'
import axFormGroup from 'components/form-group'
import axDialog from 'components/dialog'
import abilitySubject from 'assets/data/ability-subject'

export default {
  name: 'RolesIndex',

  components: {
    FeathersVuexFormWrapper, axFormGroup, axDialog
  },

  data () {
    return {
      abilityColumns: [
        { name: 'inverted', label: this.$t('core.roles.inverted.title'), field: 'inverted', align: 'left', sortable: true },
        { name: 'action', label: this.$t('core.roles.action.title'), field: 'action', align: 'left', sortable: true },
        { name: 'subject', label: this.$t('core.roles.subject.title'), field: 'subject', align: 'left', sortable: true },
        { name: 'conditions', label: this.$t('core.roles.conditions.title'), field: 'conditions', align: 'left', sortable: true },
        { name: 'fields', label: this.$t('core.roles.fields.title'), field: 'fields', align: 'left', sortable: true }
      ],
      userColumns: [
        { name: 'email', label: this.$t('core.users.email.title'), field: 'email', align: 'left', sortable: true },
        { name: 'nickname', label: this.$t('core.users.nickname.title'), field: 'nickname', align: 'left', sortable: true },
        { name: 'name', label: this.$t('core.users.name.title'), field: 'name', align: 'left', sortable: true },
        { name: 'position', label: this.$t('core.users.position.title'), field: 'position', align: 'left', sortable: true },
        { name: 'disabled', label: this.$t('core.users.disabled.title'), field: 'disabled', align: 'left', sortable: true }
      ],
      rules: {
        email: [val => !!val || this.$t('core.roles.email.error')],
        password: [
          val => (this.item._id !== 'new' || !!val) || this.$t('layout.login.passwordError'),
          val => (val.length === 0 || val.length >= 6) || this.$t('core.roles.password.error')
        ],
        passwordRetype: [
          val => !!val || this.$t('layout.login.passwordError'),
          val => val === this.$refs.password.value || this.$t('core.roles.password.errorMismatch')
        ],
        nickname: [
          val => !!val || this.$t('core.roles.nickname.error'),
          val => val.length >= 4 || this.$t('core.roles.nickname.error')
        ]
      },
      users: [],
      // detail dialog
      showAbility: false,
      ability: {},
      abilityInverted: [
        { label: 'Allow', value: false },
        { label: 'Disallow', value: true }
      ],
      abilityAction: [
        { label: 'Read', value: 'read' },
        { label: 'Update', value: 'update' },
        { label: 'Create', value: 'create' },
        { label: 'Remove', value: 'remove' }
      ],
      abilitySubject
    }
  },

  computed: {
    id () {
      return this.$route.params.id
    },
    clone () {
      const { Role } = this.$FeathersVuex.api
      return Role.copiesById[this.id]
    },
    item () {
      const { Role } = this.$FeathersVuex.api
      return this.id === 'new' ? new Role() : Role.getFromStore(this.id)
    }
  },

  created () {
    this.$FeathersVuex.api.User.find({ query: { roles_id: { $all: [this.id] } } }).then(res => {
      this.users = res.data
    })
  },

  watch: {
    id: {
      handler (val) {
        if (val === 'new') return // Early return if the route `:id` is 'new'
        const { Role } = this.$FeathersVuex.api
        Role.getFromStore(val) || Role.get(val)
      },
      immediate: true
    }
  },

  methods: {
    subject,
    saveResponse (saved) {
      saved.then(result => {
        const message = this.$t('layout.saved')
        console.log(message)
        this.$q.notify({
          type: 'positive',
          message
        })
        this.$router.go(-1)
        // Redirect to the newly-saved item
        // if (this.id === 'new') {
        //   this.$router.push({ params: { id: saved._id } })
        // }
      }).catch(err => {
        console.error(err.message)
        this.$q.notify({
          type: 'negative',
          message: this.$t('layout.failed'),
          caption: err.message,
          html: true
        })
      })
    },
    // detail dialog
    editAbility (row) {
      this.ability = {
        _old: row,
        inverted: row ? row.inverted || false : false,
        action: row ? row.action : [],
        subject: row ? row.subject : [],
        conditions:
          row && row.conditions
            ? Object.keys(row.conditions)
                .map(key => `${key}: ${row.conditions[key]}`)
                .join('\n')
            : '',
        fields: row && row.fields ? row.fields : []
      }
      this.showAbility = true
    },
    abilitySubjectFilter (val, update) {
      if (val === '') {
        update(() => {
          this.abilitySubject = abilitySubject
        })
      } else {
        update(() => {
          const needle = val.toLowerCase()
          this.abilitySubject = abilitySubject.filter(v => v.label.toLowerCase().indexOf(needle) > -1)
        })
      }
    },
    updateAbility () {
      this.removeAbility()
      // add new record
      if (!this.ability.action.length) return
      const obj = {
        inverted: this.ability.inverted,
        action: this.ability.action,
        subject: this.ability.subject
      }
      // split conditions into object
      obj.conditions = {}
      for (const el of this.ability.conditions.split(/\s*\n\s*/)) {
        const idx = el.indexOf(':')
        if (idx !== -1) obj.conditions[el.substr(0, idx)] = el.substr(idx + 1)
      }
      if (this.ability.fields.length) {
        obj.fields = this.ability.fields
      }
      this.clone.abilities.push(obj)
    },
    removeAbility () {
      if (this.ability._old) {
        this.clone.abilities = this.clone.abilities.filter(e => e !== this.ability._old)
      }
      this.showAbility = false
    }
  }
}
</script>
