<template>
  <q-page padding>

    <q-breadcrumbs class="q-mb-lg">
      <q-breadcrumbs-el :label="$t('layout.home.title')" :title="$t('layout.home.subtitle')" icon="home" to="/"/>
      <q-breadcrumbs-el :label="$t(`${$route.meta.module}.title`)"  :title="$t(`${$route.meta.module}.subtitle`)" icon="mdi-account-group"/>
    </q-breadcrumbs>

    <FeathersVuexFind service="roles" :query="{}" watch="query">
      <section slot-scope="{ items: roles }">
        <q-table
          :data="roles"
          :columns="columns"
          :no-data-label="$t('layout.noData')">
      <template v-slot:body="props">
        <q-tr :props="props" class="cursor-pointer"
          @click.native="$router.push({ path: `/roles/${props.row._id}` })">
          <q-td key="name" :props="props">
              {{ props.row.name }}
          </q-td>
          <q-td key="description" :props="props">
            {{ props.row.description }}
          </q-td>
          <q-td key="disabled" :props="props">
              {{ props.row.disabled }}
          </q-td>
        </q-tr>
      </template>

              </q-table>
      </section>
    </FeathersVuexFind>

    <div class="q-pt-md float-right">
      <q-btn rounded
        v-if="$can('create', 'roles')"
        class="submit glossy"
        color="primary"
        icon="add"
        :label="$t('core.roles.createButton')"
        to='/roles/new'
      />
    </div>

  </q-page>
</template>

<script>
export default {
  name: 'RolesIndex',

  data () {
    return {
      columns: [
        { name: 'name', label: this.$t('core.roles.name.title'), field: 'name', align: 'left', sortable: true },
        { name: 'description', label: this.$t('core.roles.description.title'), field: 'description', align: 'left', sortable: true },
        { name: 'disabled', label: this.$t('core.roles.disabled.title'), field: 'disabled', align: 'left', sortable: true }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
td { padding-top: 3px; padding-bottom: 3px }
</style>
