<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { onMounted } from '@vue/composition-api'

export default {
  name: 'App',
  setup (props, context) {
    const { $store } = context.root

    // Attempt jwt auth when the app mounts.
    onMounted(() => {
      $store.dispatch('auth/authenticate').catch(error => {
        if (!error.message.includes('Could not find stored JWT')) {
          console.error(error)
        }
      })
    })

    return {}
  }
}
</script>
