<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="<%= productDescription %>"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/png" href="app-logo-128x128.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />

    <style>
      .spinner {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
      }

      .spinner:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left: -100px;
        border-radius: 50%;
        border-top: 5px solid #337ab7;
        border-right: 5px solid transparent;
        animation: spinner 0.6s linear infinite;
      }
      .spinner .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        animation: flip 2s;
      }
      @keyframes spinner {
        to {
          transform: rotate(360deg);
        }
      }
      @keyframes flip {
        0% { transform: rotateY(0deg); animation-timing-function: ease }
        1% { transform: rotateY(180deg); animation-timing-function: ease }
        2% { transform: rotateY(360deg); animation-timing-function: ease }
        4% { transform: rotateY(180deg); animation-timing-function: ease }
        6% { transform: rotateY(0deg); animation-timing-function: ease }
        9% { transform: rotateY(180deg); animation-timing-function: ease }
        13% { transform: rotateY(360deg); animation-timing-function: ease }
        18% { transform: rotateY(180deg); animation-timing-function: ease }
        30% { transform: rotateY(0deg); animation-timing-function: ease }
        40% { transform: rotateY(180deg); animation-timing-function: ease }
        55% { transform: rotateY(360deg); animation-timing-function: ease }
        75% { transform: rotateY(180deg); animation-timing-function: ease }
        100% { transform: rotateY(0deg); animation-timing-function: ease }
      }
    </style>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app" class="spinner"><img src="app-logo-128x128.png" class="logo"></div>
  </body>
</html>
