<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-primary glossy text-white">
        <q-btn
          flat
          dense
          round
          icon="menu"
          :aria-label="$t('layout.menu.title')"
          @click="leftDrawerOpen = !leftDrawerOpen"
          :title="$t('layout.sidebarHide')"
        />

        <q-toolbar-title>{{ title }}</q-toolbar-title>

        <q-btn flat round icon="mdi-logout"
          v-if="authUser"
          :title="$t('layout.menu.logout')"
          @click="logout()"
        />
        <q-btn flat round icon="mdi-shield-key"
          v-else
          :title="$t('layout.menu.login')"
          @click="loginDialog = true"
        />

        <q-btn
          flat
          round
          :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'"
          @click="$q.fullscreen.toggle()"
          :title="$t($q.fullscreen.isActive ? 'layout.menu.fullscreenOff':'layout.menu.fullscreenOn')"
        />

        <q-btn
          flat
          round
          icon="more_vert"
          aria-label="Settings"
          :title="$t('layout.menu.settings')"
        >
          <q-menu
            transition-show="jump-down"
            transition-hide="jump-up"
            :offset="[0, 4]"
          >
            <q-list padding>
              <q-item
                clickable
                v-ripple
                dense
              >
                <q-item-section avatar>
                  <q-icon name="language" />
                </q-item-section>
                <q-item-section>{{ $t('layout.menu.language') }}</q-item-section>
                <q-item-section side>
                  <q-icon name="keyboard_arrow_right" />
                </q-item-section>
                <q-menu
                  anchor="top right"
                  self="top left"
                  auto-close
                >
                  <q-list
                    padding
                    v-model="lang"
                    :options="langOptions"
                  >
                    <q-item
                      clickable
                      v-ripple
                      dense
                      v-for="entry in langOptions"
                      :key="entry.value"
                      :disabled="$i18n.locale === entry.value"
                      @click="lang = entry.value"
                    >
                      <q-item-section avatar>
                        <q-icon :name="'img:flags/' + entry.value +'.svg'" />
                      </q-item-section>
                      <q-item-section class="text-no-wrap">{{ entry.label }}</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-item>
              <q-item
                clickable
                v-ripple
                dense
                @click="$q.dark.toggle()"
              >
                <q-item-section avatar>
                  <q-icon name="mdi-theme-light-dark" />
                </q-item-section>
                <q-item-section>{{ $t('layout.menu.dark') }}</q-item-section>
                <q-item-section side>
                  <q-checkbox
                    :value="$q.dark.isActive"
                    @input="$q.dark.toggle()"
                  />
                </q-item-section>
              </q-item>

              <q-separator />

              <q-item
                clickable
                v-ripple
                dense
                @click="aboutDialog = true"
              >
                <q-item-section avatar>
                  <q-icon name="info" />
                </q-item-section>
                <q-item-section>{{ $t('layout.menu.about') }}</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      elevated
    >
      <q-list no-border link inset-delimiter>
        <ax-sidebar-link
            :title="$t('layout.home.title')"
            :caption="$t('layout.home.subtitle')"
            icon="home"
            link="/start"
        />
        <q-expansion-item switch-toggle-side expand-separator
          ref="sidebar_core"
          :label="$t('core.title')">
            <ax-sidebar-link
                v-for="link in links"
                :key="link.title"
                v-bind="link"
            />
        </q-expansion-item>
        <ax-sidebar-extend />
      </q-list>
    </q-drawer>

    <ax-login :model.sync="loginDialog" />
    <ax-about :model.sync="aboutDialog" />

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import axLogin from 'components/login-dialog'
import axAbout from 'components/about-dialog'
import axSidebarLink from 'components/sidebar-link'
import axSidebarExtend from 'components/sidebar-extend'

import languages from 'quasar/lang/index.json'
import coreMenu from 'assets/data/core-menu'

import { title } from '../../package.json'

const appLanguages = languages.filter(lang =>
  ['de', 'en-us'].includes(lang.isoName)
)

export default {
  name: 'MainLayout',

  components: {
    axLogin,
    axAbout,
    axSidebarLink,
    axSidebarExtend
  },

  data () {
    return {
      leftDrawerOpen: false,
      aboutDialog: false,
      loginDialog: this.$route.path === '/login',
      lang: this.$q.lang.isoName,
      title: title
    }
  },

  computed: {
    authUser () {
      return this.$store.state.auth.user
    },
    links () {
      return coreMenu(this)
    }
  },

  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
        .then(async () => {
          // remove abilities
          this.$ability.update([])
          const message = this.$t('layout.logout.success')
          console.log(message)
          this.$q.notify({
            type: 'positive',
            message
          })
          setTimeout(() => this.$router.go('/'), 5000) // this will reset all data
          return Promise.resolve()
        })
    }
  },

  watch: {
    lang (lang) {
      // dynamic import, so loading on demand only
      import(
        /* webpackInclude: /(de|en-us)\.js$/ */
        'quasar/lang/' + lang
      ).then(l => {
        this.$i18n.locale = lang
        this.$q.lang.set(l.default)
      })
    },
    $route () {
      let base = this.$router.currentRoute.path.substr(1).replace(/\/.*/, '')
      if (['info', 'users', 'roles'].includes(base)) base = 'core'
      this.$refs[`sidebar_${base}`]?.show()
    }
  },

  created () {
    this.langOptions = appLanguages.map(lang => ({
      label: lang.nativeName,
      value: lang.isoName
    }))
    if (this.authUser?.abilities) { this.$ability.update(this.authUser.abilities) }
  },

  meta () {
    return {
      title: this.$route.meta.module ? this.$t(`${this.$route.meta.module}.title`) : undefined,
      titleTemplate: title => title ? `${title} - ${this.$t('layout.title')}` : this.$t('layout.title')
    }
  }

}
</script>

<style lang="scss">
h1, h2, h3, h4, h5, h6 { font-weight: 800; margin-top: 0.5em; margin-bottom: 0.5em }
.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 { font-weight: 800; margin-bottom: 0.5em }
h1, .text-h1 { font-size: 4em }
h2, .text-h2 { font-size: 3em }
h3, .text-h3 { font-size: 2.5em }
h4, .text-h4 { font-size: 2em }
h5, .text-h5 { font-size: 1.5em }
h6, .text-h6 { font-size: 1em }

p { font-size: 1em }

.q-table thead {
    background: $lighter;
    .q-dark & { background: $darker }
    th { font-weight: 900 }
}

.q-expansion-item__container {
  > div:first-of-type {
    background: $lighter;
    .q-dark & { background: $darker }
  }
}
</style>
