<template>
  <q-page padding>

    <q-breadcrumbs class="q-mb-lg">
      <q-breadcrumbs-el :label="$t('layout.home.title')" :title="$t('layout.home.subtitle')" icon="home" to="/"/>
      <q-breadcrumbs-el :label="$t(`${$route.meta.module}.title`)"  :title="$t(`${$route.meta.module}.subtitle`)" icon="mdi-account" to="/users"/>
      <q-breadcrumbs-el :label="$t('core.users.detail')" icon="edit"/>
    </q-breadcrumbs>

    <FeathersVuexFormWrapper :item="item" watch>
      <template v-slot="{ clone, save, reset, remove }">
        <q-form @submit.prevent="saveResponse(save())">
          <!--<pre>{{item}}</pre><pre>{{clone}}</pre>-->
          <ax-form-group :title="$t('core.users.formLogin')" :subtitle="$t('core.users.formLoginDesc')">

            <q-input v-model="clone.email" ref="email"
                type="email"
                :label="$t('core.users.email.title')"
                placeholder="myname@gmail.com"
                :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('users', item), 'email')"
                autofocus
                :rules="rules.email"
                hide-bottom-space>
                <template v-slot:prepend><q-icon name="email" /></template>
            </q-input>

            <q-input v-model="clone.password" ref="password"
                autocomplete="new-password"
                :type="showPassword ? 'text' : 'password'"
                :label="$t('core.users.password.titleNew')"
                :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('users', item), 'password')"
                :rules="rules.password"
                hide-bottom-space>
                <template v-slot:prepend><q-icon name="mdi-key" /></template>
                <template v-slot:append>
                    <q-icon
                        :name="showPassword ? 'visibility' : 'visibility_off'"
                        class="cursor-pointer"
                        @click="showPassword = !showPassword; if (showPassword) delete clone.passwordRetype"
                    />
                </template>
            </q-input>
            <q-input v-model="clone.passwordRetype" ref="passwordRetype"
                v-if="!showPassword && clone.password"
                type="password"
                :label="$t('core.users.password.titleRepeat')"
                :rules="rules.passwordRetype"
                hide-bottom-space>
                <template v-slot:prepend><q-icon name="mdi-key-outline" /></template>
            </q-input>

            <q-select v-model="clone.autologin" ref="autologin"
                type="text"
                :label="$t('core.users.autologin.title')"
                :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('users', item), 'autologin')"
              autogrow use-chips use-input
              multiple
              hide-dropdown-icon
              input-debounce="0"
              new-value-mode="add-unique">
                <template v-slot:prepend><q-icon name="mdi-key-wireless" /></template>
            </q-select>

          </ax-form-group>
          <ax-form-group :title="$t('core.users.formPersonal')" :subtitle="$t('core.users.formPersonalDesc')">

            <q-field
              icon="photo camera"
              :label="$t('core.users.avatar.title')"
              :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('users', item), 'avatar')"
              stack-label>
              <a href="https://gravatar.com/" target="_blank">
                <img v-if="clone.avatar" :src="clone.avatar" class="q-pr-md" style="vertical-align:top">
                {{ $t('core.users.avatar.link') }}
              </a>
              <template v-slot:prepend><q-icon name="mdi-camera" /></template>
            </q-field>

            <q-input v-model="clone.nickname" ref="nickname"
                type="text"
                :label="$t('core.users.nickname.title')"
                :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('users', item), 'nickname')"
                :rules="rules.nickname" hide-bottom-space>
                <template v-slot:prepend><q-icon name="mdi-account-outline" /></template>
            </q-input>

            <q-input v-model="clone.name" ref="name"
                type="text"
                :label="$t('core.users.name.title')"
                :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('users', item), 'name')">
                <template v-slot:prepend><q-icon name="mdi-account" /></template>
            </q-input>

            <q-input v-model="clone.position" ref="position"
                type="text"
                :label="$t('core.users.position.title')"
                :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('users', item), 'position')">
                <template v-slot:prepend><q-icon name="mdi-domain" /></template>
            </q-input>

            <q-field
              stack-label>
              <q-checkbox v-model="clone.disabled" ref="disabled"
                :label="$t('core.users.disabled.title')"
                :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('users', item), 'disabled')"/>
              <template v-slot:prepend><q-icon name="mdi-cancel" /></template>
            </q-field>

          </ax-form-group>
          <ax-form-group :title="$t('core.users.formAccess')" :subtitle="$t('core.users.formAccessDesc')"
            v-if="rolesOptions.length">

          <q-select v-model="clone.roles_id" ref="roles"
              type="text"
              :options="rolesOptions"
              emit-value map-options multiple use-chips
              @filter="rolesOptionsFilter" use-input
              :label="$t('core.roles.title')"
              :readonly="!$can(item._id === 'new' ? 'create' : 'update', subject('users', item), 'roles_id')">
              <template v-slot:prepend><q-icon name="group" /></template>
              <template v-slot:option="scope">
                <q-item
                  v-bind="scope.itemProps"
                  v-on="scope.itemEvents"
                >
                  <q-item-section>
                    <q-item-label v-html="scope.opt.label" />
                    <q-item-label caption>{{ scope.opt.description }}</q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </q-select>

          </ax-form-group>
          <ax-form-group :title="$t('core.users.formAbilities')" :subtitle="$t('core.users.formAbilitiesDesc')"
            v-if="roles.length">

            <template v-for="role in roles.filter(e => clone.roles_id.includes(e._id))">
            <div :key="role._id+'_abilities'">

            <h5 @click="$router.push({ path: `/roles/${role._id}` })" class="cursor-pointer">{{role.name}}</h5>
            <p>{{role.description}}</p>
            <q-tooltip anchor="center middle" self="center middle" content-class="bg-red"
              v-if="role.disabled">
              {{$t('layout.disabled')}}
            </q-tooltip>

            <q-table :class="role.disabled && 'disabled light-dimmed'"
              dense
              hide-bottom
              :data="role.abilities"
              :columns="abilityColumns"
              :no-data-label="$t('layout.noData')">
              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="inverted" :props="props">
                    {{ props.row.inverted ? 'Disallow' : 'Allow' }}
                  </q-td>
                  <q-td key="action" :props="props">
                    {{ props.row.action.map(e => e[0].toUpperCase() + e.substring(1)).join(', ') }}
                  </q-td>
                  <q-td key="subject" :props="props">
                    {{ props.row.subject.map(e => e.replace(/\//g, ' ').replace(/(^|\s)\S/g, l => l.toUpperCase())).join(', ') }}
                  </q-td>
                  <td key="conditions" :props="props">
                    <template v-for="el in Object.keys(props.row.conditions || {})">
                      {{ el }}: {{ props.row.conditions[el] }}
                      <br :key="el">
                    </template>
                  </td>
                  <td key="fields" :props="props">
                    {{ props.row.fields ? props.row.fields.join(', ') : '' }}
                  </td>
                </q-tr>
              </template>
            </q-table>
            </div>
            </template>

          </ax-form-group>

          <div align="right">
            <q-btn class="q-pr-sm q-ml-sm"
                v-if="$can(item._id === 'new' ? 'create' : 'update', subject('users', item))"
                type="submit"
                glossy rounded
                :label="$t('layout.nav.save')"
                icon="done"
                color="primary"
            />
            <q-btn class="q-pr-sm q-ml-sm"
                glossy rounded
                :label="$t('layout.nav.cancel')"
                icon="close"
                @click="reset(); $router.go(-1)"
            />
            <q-btn class="q-pr-sm q-ml-sm"
                v-if="$can('delete', subject('users', item))"
                glossy rounded
                :label="$t('layout.nav.delete')"
                color="secondary"
                icon="close"
                @click="remove(); $router.go(-1)"
            />
          </div>

        </q-form>
      </template>
    </FeathersVuexFormWrapper>
  </q-page>
</template>

<script>
import { FeathersVuexFormWrapper } from 'feathers-vuex'
import { subject } from '@casl/ability'
import axFormGroup from 'components/form-group'

export default {
  name: 'UsersIndex',

  components: {
    FeathersVuexFormWrapper, axFormGroup
  },

  data () {
    return {
      abilityColumns: [
        { name: 'inverted', label: this.$t('core.roles.inverted.title'), field: 'inverted', align: 'left', sortable: true },
        { name: 'action', label: this.$t('core.roles.action.title'), field: 'action', align: 'left', sortable: true },
        { name: 'subject', label: this.$t('core.roles.subject.title'), field: 'subject', align: 'left', sortable: true },
        { name: 'conditions', label: this.$t('core.roles.conditions.title'), field: 'conditions', align: 'left', sortable: true },
        { name: 'fields', label: this.$t('core.roles.fields.title'), field: 'fields', align: 'left', sortable: true }
      ],
      rules: {
        email: [val => !!val || this.$t('core.users.email.error')],
        password: [
          val => (this.item._id !== 'new' || !!val) || this.$t('layout.login.passwordError'),
          val => (val.trim().length === 0 || val.trim().length >= 8) || this.$t('core.users.password.error')
        ],
        passwordRetype: [
          val => !!val || this.$t('layout.login.passwordError'),
          val => val === this.$refs.password.value || this.$t('core.users.password.errorMismatch')
        ],
        nickname: [
          val => !!val || this.$t('core.users.nickname.error'),
          val => val.trim().length >= 4 || this.$t('core.users.nickname.error')
        ]
      },
      showPassword: false,
      roles: [],
      rolesOptions: []
    }
  },

  computed: {
    id () {
      return this.$route.params.id
    },
    item () {
      const { User } = this.$FeathersVuex.api
      // Returns a new Todo if the route `id` is 'new', or returns an existing Todo.
      return this.id === 'new' ? new User() : User.getFromStore(this.id)
    }
  },

  async created () {
    try {
      const { Role } = this.$FeathersVuex.api
      const { data } = await Role.find()
      this.roles = []
      data.forEach(e => this.roles.push({ ...e, value: e._id, label: e.name, description: e.description }))
      // add roles with id if they are not readable
      this.item.roles_id.forEach(e => {
        if (this.roles.filter(d => d.value === e).length) return
        this.roles.push({ value: e, label: e, disable: true })
      })
      this.rolesOptions = this.roles
    } catch (e) {
      console.warn(e)
    }
  },

  watch: {
    id: {
      handler (val) {
        // Early return if the route `:id` is 'new'
        const { User } = this.$FeathersVuex.api
        if (val === 'new') return
        const existingRecord = User.getFromStore(val)
        // If the record doesn't exist, fetch it from the API server
        // The `item` getter will automatically update after the data arrives.
        if (!existingRecord) User.get(val)
      },
      // We want the above handler handler to run immediately when the component is created.
      immediate: true
    }
  },

  methods: {
    rolesOptionsFilter (val, update) {
      if (val === '') {
        update(() => {
          this.rolesOptions = this.roles
        })
      } else {
        update(() => {
          const needle = val.toLowerCase()
          this.rolesOptions = this.roles.filter(v => v.label.toLowerCase().indexOf(needle) > -1 || v.description.toLowerCase().indexOf(needle) > -1)
        })
      }
    },
    subject,
    saveResponse (saved) {
      saved.then(result => {
        const message = this.$t('layout.saved')
        console.log(message)
        this.$q.notify({
          type: 'positive',
          message
        })
        this.$router.go(-1)
        // Redirect to the newly-saved item
        // if (this.id === 'new') {
        //   this.$router.push({ params: { id: saved._id } })
        // }
      }).catch(err => {
        console.error(err.message)
        this.$q.notify({
          type: 'negative',
          message: this.$t('layout.failed'),
          caption: err.message,
          html: true
        })
      })
    }
  }
}
</script>
