<template>
  <q-page padding>

    <q-breadcrumbs class="q-mb-lg">
      <q-breadcrumbs-el :label="$t('layout.home.title')" :title="$t('layout.home.subtitle')" icon="home" to="/"/>
      <q-breadcrumbs-el :label="$t(`${$route.meta.module}.title`)"  :title="$t(`${$route.meta.module}.subtitle`)" icon="mdi-account"/>
    </q-breadcrumbs>

    <FeathersVuexFind service="users" :query="{}" watch="query">
      <section slot-scope="{ items: users }">
        <q-table
          :data="users"
          :columns="columns"
          :no-data-label="$t('layout.noData')">
          <template v-slot:body="props">
            <q-tr :props="props" class="cursor-pointer"
              @click.native="$router.push({ path: `/users/${props.row._id}` })">
              <q-td key="loginType" :props="props">
                <q-icon v-if="props.row.autologin" name="mdi-key-wireless" :title="$t('core.users.autologin.title')" />
              </q-td>
              <q-td key="email" :props="props">
                {{ props.row.email }}
              </q-td>
              <q-td key="nickname" :props="props">
                  {{ props.row.nickname }}
              </q-td>
              <q-td key="name" :props="props">
                  {{ props.row.name }}
              </q-td>
              <q-td key="position" :props="props">
                  {{ props.row.position }}
              </q-td>
              <q-td key="disabled" :props="props">
                  {{ props.row.disabled ? $t('core.users.disabled.title') : '' }}
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </section>
    </FeathersVuexFind>

    <div class="q-pt-md float-right">
      <q-btn rounded
        v-if="$can('create', 'users')"
        class="submit glossy"
        color="primary"
        icon="add"
        :label="$t('core.users.createButton')"
        to='/users/new'
      />
    </div>

  </q-page>
</template>

<script>
// import { subject } from '@casl/ability'

export default {
  name: 'UsersIndex',

  data () {
    return {
      // test: {
      //   //        abilities: this.$ability,
      //   update: this.$can('update'),
      //   all: this.$can('read', null),
      //   read_users: this.$can('read', 'users'),
      //   read_info_all: this.$can('read', subject('info', {})),
      //   read_users_self: this.$can('read', subject('users', { _id: '5f22c05c3b1e27d2c0a52ed6' })),
      //   read_users_other: this.$can('read', subject('users', { _id: '1f22c05c3b1e27d2c0a52ed6' })),
      //   read_users_all: this.$can('read', subject('users', {})),
      //   read_misc_all: this.$can('read', subject('misc', {})),
      //   read_users2_all: this.$ability.can('read', subject('users', {})),
      //   abilities: this.$ability.j
      // },
      columns: [
        { name: 'loginType', label: this.$t('core.users.loginType.title'), field: 'loginType', align: 'left' },
        { name: 'email', label: this.$t('core.users.email.title'), field: 'email', align: 'left', sortable: true },
        { name: 'nickname', label: this.$t('core.users.nickname.title'), field: 'nickname', align: 'left', sortable: true },
        { name: 'name', label: this.$t('core.users.name.title'), field: 'name', align: 'left', sortable: true },
        { name: 'position', label: this.$t('core.users.position.title'), field: 'position', align: 'left', sortable: true },
        { name: 'disabled', label: this.$t('core.users.disabled.title'), field: 'disabled', align: 'left', sortable: true }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
td { padding-top: 3px; padding-bottom: 3px }
</style>
